* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

ol,
ul {
    list-style-type: none;
}

a {
    color: #666;
    text-decoration: none;
}


.left {
    float: left;
}

.right {
    float: right;
}

.center {
    width: 1175px;
    margin: 0px auto;
}

.hide {
    display: none;
}

#container {
    /* display: flex; */
    width: 1440px;
    /* border: 1px solid #f00; */
    margin: 0px auto;
}


/* 测试部分 */

/* #header,
#banner,
#swiper,
#news,
#information,
#activities,
#events,
#footer 
#header-image{
    
    height: 40px;
    width: 100%;
    border: 1px solid #000;
    
} */

#header {
    width: 1440px;
    background-color: #930d14;
    height: 65px;
}

#search {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    float: right;
    width: 300px;
    height: 38px;
    background-color: rgb(172, 69, 74);
    border-radius: 19px;
    overflow: hidden;
}

#search input {
    border: none;
    height: 37px;
    width: 220px;
    background-color: rgb(172, 69, 74);
    line-height: 32px;
    font-size: 18px;
}

#header-image {
    width: 1440px;
    height: 103px;
    background-color: rgb(147, 13, 20);
    margin: 0px auto;
    border-bottom: 1px solid rgb(159, 44, 44);
}

#logo {
    margin: 0px auto;
    height: 72px;
    width: 227px;
    background-image: url(./images/山东大学校徽与中英文校名标准组合（横式）.png);
}

/* #cut-div{
    height: 1px;
    background-color: rgb(147,13,20);
} */
#cut {
    height: 1px;
    border: none;
    border-bottom: 1px solid rgb(147, 13, 20);
}

#banner {
    height: 48px;
    width: 1440px;
    background-color: rgb(147, 13, 20);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgb(107, 0, 0);
}

#banner a {
    font-size: 18px;
    color: white;
    line-height: 47px;
}

#swiper{
    height: 447px;
}

.swiper-active{
    z-index: 5;
}

#swiper-container{
    height: 447px;
    position: relative;
}
/* .swiper-item{
    height: 100%;
    width: 100%;
    background-color: red;
    background: url(./images/swiper-background.gif) center no-repeat,
                url(./images/swiper-content.gif)center no-repeat;
} */
.swiper-item {
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.swiper-item:nth-child(0){
    background: url(./images/swiper-background.gif) center no-repeat;
}

.swiper-item:nth-child(1){
    background: url(./images/swiper-background.gif) center no-repeat;
}

.swiper-item:nth-child(2){
    background: url(./images/swiper-background.gif) center no-repeat;
}

.swiper-item:nth-child(3){
    background: url(./images/swiper-background.gif) center no-repeat;
}

.swiper-content{
    width: 1175px;
    height: 447px;
    margin: 0px auto;
}

#swiper-pointlist{
    z-index: 20;
    display: flex;
    height: 40px;
    width: 1172px;
    position: relative;
    bottom: 40px;
    left: 135px;
    justify-content: center;
    background:  url(./images/矩形\ 4.png) top center;
}
.swiper-point{
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-left: 18px;
    background-color: rgba(0, 0, 0,0);
    border: 2px solid white;
    border-radius: 100%;

}

.swiper-active-point{
    background-color: white;
}


#news {
    height: 350px;
    background-color: rgb(237, 237, 237);
}

#news-container {
    width: 1175px;
    height: 350px;
    margin: 0px auto;
    border: #930d14 0px solid;
}

#news-title {
    height: 105px;
}

#news-title p {
    padding-top: 33px;
    margin-left: 20px;
    font-size: 32px;
    color: rgb(102, 102, 102);
}

#news-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 190px;
    width: 1175px;
    font-size: 16px;
    font-weight: 200;
    color: rgb(51, 51, 51);
}

.news-content-block {
    width: 260px;
    margin: 0px 20px;
}

.news-image {
    height: 126px;
    width: 260px;
    background-image: url(./images/news.jpg);
}

.news-content-block p{
    margin-top: 20px;
}

#news-footer {
    font-size: 15px;
    height: 55px;
    margin-top: 10px;
}


#information {
    width: 1440px;
    display: flex;
    justify-content: center;
    height: 530px;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/information-background.gif);
}

#information a {
    color: white;
    font-family: 微软雅黑;
}

.information-title p:first-letter {
    font-size: 32px;
    font-style: italic;
    font-weight: bolder;
    color: #930d14;
}

#information-left {
    /* flex-direction: column; */
    /* border: #930d14 solid 1px; */
    width: 430px;
    color: whitesmoke;
}

#information-left-title {
    font-family: CenturyGothic;
    display: inline-block;
    margin-top: 47px;
    margin-left: 20px;
}



#information-left-cut {
    height: 4px;
    width: 250px;
    margin-top: 80px;
    margin-right: 70px;
    background-color: rgb(107, 0, 0);
    border: 1px solid rgb(107, 0, 0);
    float: right;
}

#information-left-news {
    display: flex;
    margin-left: 20px;
    width: 400px;
    /* border: 1px solid rgb(147, 13, 20); */
    justify-content: space-around;
    flex-direction: column;
}

.information-left-news-detail {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 50px;
}

.information-left-news-detail p {
    margin-left: 10px;
    font-size: 20px;
    width: 70px;
    line-height: 45px;
    font-family: 微软雅黑;
}

.information-left-news-detail-content {
    width: 250px;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    float: left;
    border-left: 1px solid white;
    justify-content: center;
    padding: 5px 0px 5px 20px;
    color: white;
    font-size: 16px;

}

#information-right {
    /* border: #930d14 solid 1px; */
    width: 745px;
    color: white;
}

#information-right-title {
    font-family: CenturyGothic;
    display: inline-block;
    margin-top: 47px;
    margin-left: 70px;
}

#information-right-cut {
    height: 4px;
    width: 510px;
    margin-top: 80px;
    margin-right: 50px;
    background-color: rgb(107, 0, 0);
    border: 1px solid rgb(107, 0, 0);
    float: right;
}

#information-right-news {
    height: 375px;
    width: 625px;
    margin-left: 70px;
    /* border: #930d14 solid 1px; */
}

#information-right-news-top {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#information-right-news-top-image {
    float: left;
    width: 300px;
    height: 150px;
    background-image: url(./images/information-right-news.gif);
}

#information-right-news-top-detail {
    width: 265px;
    height: 45px;
    float: right;
    font-size: 16px;
    line-height: 24px;
}

#information-right-news-top-detail p:last-child {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
}

/* .grid {
    display: grid;
    grid-template-rows: 50%  50%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas:
        "content1 content1 content1"
        "content1 content1 date";
}
.content1{
    grid-area: content1;
}
.date{
    grid-area: date;
} */

.date {
    position: relative;
    left: 210px;
    bottom: 24px;
}

#information-right-news-bottom {
    height: 165px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#information-footer {
    height: 70px;
    font-size: 15px;
    line-height: 50px;
}

#activities {
    background-color: #ededed;
    height: 385px;
}

#activities-title {
    background-color: #e4e4e6;
    display: flex;
    justify-content: center;
}

#activities-tab {
    background-color: #ededed;
    height: 105px;
    margin: 0px auto;
    /* border-bottom: 1px solid #ccc; */
}

.activities-tab-cut {
    width: 132.5px;
    height: 85px;
    background-color: #e4e4e6;
}

.activities-cut{
    float: left;
    height: 85px;
    width: 1px;
    border: none;
    background: #e4e4e6 url(./images/activities-cut.png)center center no-repeat;
}
.activities-cut-hide{
    float: left;
    height: 85px;
    width: 1px;
    border: none;
    background: #e4e4e6 ;
}

#activities-tab li {
    float: left;
    width: 391px;
    height: 105px;
    font-size: 18px;
    line-height: 85px;
    margin: 0 auto;
    text-align: center;
    border: none;
    background: #ededed;
    cursor: pointer
}

#activities-tab li a {
    display: block;
    height: 85px;
    background-color: #e4e4e6;
}

#activities-tab .act {
    background: url(./images/形状\ 2.png) no-repeat center bottom;
    background-color: #ededed;
}

#activities-tab .act a {
    background-color: #ffffff;
}

#activities-content {
    background-color: #ededed;
    height: 255px;
    width: 1175px;
    margin: 0px auto;
    font-size: 16px;
    text-align: center;
}

#activities-content li {
    float: left;
    margin: 25px 35px 37px;
}

#activities-content li p {
    margin-top: 32px;
    color: #930d14;
}

#activities-content li img {
    display: block;
    /* height: 166px;
    width: 219px; */
}

#events {
    height: 444px;
    background-color: #ffffff;
}

#events-title {
    padding-top: 65px;
    font-family: AvenirNext;
    font-size: 32px;
    text-align: center;
    color: #930d14;
}

#events-container {
    margin: 0px auto;
    margin-top: 45px;
    display: flex;
    width: 1175px;
    justify-content: space-around;
}

.events-content {
    margin: 0px auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: #e7e7e7 5px solid;
}

.events-content p {
    margin-top: 25px;
    font-size: 18px;
    font-style: Black;
    font-weight: bolder;
    font-family: Arial;
    color: #666666;
    text-align: center;
    /* line-height: 45px; */
}

.events-introduction {
    margin-top: 20px;
    text-align: center;
    color: #930d14;
    line-height: 24px;
    font-size: 16px;
}

.events-information {
    margin-top: 5px;
    text-align: center;
    color: #999999;
    line-height: 24px;
    font-size: 14px;
}

#footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/footer-background.gif);
    height: 270px;
}

#footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color: white;
}

#shandalogo {
    width: 198px;
    height: 66px;
    background-image: url(./images/shandalogo.png);
}

#xuexianlogo {
    margin-left: 35px;
    margin-top: 4px;
    width: 197px;
    height: 58px;
    background-image: url(./images/学线LOGO正规版.png);
}

#footer-elselogo {
    display: flex;
    flex-flow: row-reverse;
}

#weixin {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-image: url(./images/weixinlogo.png);
}

#qq {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-image: url(./images/qqlogo.png);
}

#sina {
    width: 40px;
    height: 40px;
    margin-right: 76px;
    background-image: url(./images/sinalogo.png);
}

#footer ul {
    width: 725px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer ul li a {
    float: left;
    font-size: 16px;
    line-height: 50px;
    color: #b8b8b8;
}

#footer-cut {
    border: none;
    height: 1px;
    background-color: #4f5152;
}

#footer p {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 55px;
    text-align: center;
    color: #888888;
}